@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&family=Open+Sans+Condensed:wght@300&family=Varela+Round&display=swap");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	margin: 0px;
	font-weight: 700;
	background-color: #9FB4FF;
}
h1,h2,h3 {
	font-family: 'Varela Round', sans-serif;
	font-weight:  bold;
}

a {
	text-decoration:  none;
}