.banner {
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.65) 80%), url(../../images/bg.jpeg);
	padding: 120px 0px;
	background-size: cover;
	background-position: middle;
}

.banner h1{
	font-size: 55px;
	color: #A63EC5;
}

.banner h2{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #9FB4FF;
}